.right_bg[data-v-69b1acef] {
  position: relative;
}
.right_bg .bg_img[data-v-69b1acef] {
  position: absolute;
  left: 0.16103rem;
  top: 0.32206rem;
  width: 100%;
}
.right_bg .anim_left[data-v-69b1acef] {
  position: absolute;
  left: 1.44928rem;
  top: 1.36876rem;
  width: 3.87279rem;
  height: 4.99195rem;
}
.right_bg .anim_left .img_cy[data-v-69b1acef] {
  width: 3.87279rem;
  height: 4.99195rem;
}
.right_bg .anim_left .img_gif[data-v-69b1acef] {
  position: absolute;
  width: 1.93237rem;
  height: 1.93237rem;
  left: 1.36876rem;
  top: 0.96618rem;
}
.right_bg .anim_center[data-v-69b1acef] {
  position: absolute;
  left: 50%;
  top: 0.88567rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.right_bg .anim_right[data-v-69b1acef] {
  position: absolute;
  right: 1.52979rem;
  top: 1.36876rem;
  width: 2.73752rem;
  height: 4.99195rem;
}
.right_bg .anim_right .mediaG[data-v-69b1acef],
.right_bg .anim_right .mediaN[data-v-69b1acef] {
  position: absolute;
  width: 1.28824rem;
  height: 0.96618rem;
  opacity: 1;
}
.right_bg .anim_right .mediaG .media_img[data-v-69b1acef],
.right_bg .anim_right .mediaN .media_img[data-v-69b1acef] {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.right_bg .anim_right .mediaG .icon_err[data-v-69b1acef],
.right_bg .anim_right .mediaG .icon_suc[data-v-69b1acef],
.right_bg .anim_right .mediaN .icon_err[data-v-69b1acef],
.right_bg .anim_right .mediaN .icon_suc[data-v-69b1acef] {
  position: absolute;
  top: -0.07246rem;
  right: 0.0161rem;
  width: 0.32206rem;
  height: 0.32206rem;
}
.right_bg .anim_right .youtube[data-v-69b1acef] {
  top: 0.16103rem;
  left: 0;
}
.right_bg .anim_right .google[data-v-69b1acef] {
  top: 0.80515rem;
  right: 0;
}
.right_bg .anim_right .facebook[data-v-69b1acef] {
  top: 1.61031rem;
  left: 0;
}
.right_bg .anim_right .netflix[data-v-69b1acef] {
  top: 2.41546rem;
  right: 0;
}
.right_bg .anim_right .twitter[data-v-69b1acef] {
  top: 3.22061rem;
  left: 0;
}
.right_bg .anim_right .mediaN[data-v-69b1acef] {
  opacity: 0;
}
.right_bg .mediaAnim .mediaG.youtube[data-v-69b1acef] {
  -webkit-animation: fide-out-data-v-69b1acef 3s 3s forwards;
  animation: fide-out-data-v-69b1acef 3s 3s forwards;
}
.right_bg .mediaAnim .mediaG.google[data-v-69b1acef] {
  -webkit-animation: fide-out-data-v-69b1acef 3s 6s forwards;
  animation: fide-out-data-v-69b1acef 3s 6s forwards;
}
.right_bg .mediaAnim .mediaG.facebook[data-v-69b1acef] {
  -webkit-animation: fide-out-data-v-69b1acef 3s 4s forwards;
  animation: fide-out-data-v-69b1acef 3s 4s forwards;
}
.right_bg .mediaAnim .mediaG.netflix[data-v-69b1acef] {
  -webkit-animation: fide-out-data-v-69b1acef 3s 7s forwards;
  animation: fide-out-data-v-69b1acef 3s 7s forwards;
}
.right_bg .mediaAnim .mediaG.twitter[data-v-69b1acef] {
  -webkit-animation: fide-out-data-v-69b1acef 3s 5s forwards;
  animation: fide-out-data-v-69b1acef 3s 5s forwards;
}
.right_bg .mediaAnim .mediaN.youtube[data-v-69b1acef] {
  -webkit-animation: fide-in-data-v-69b1acef 3s 3s forwards;
  animation: fide-in-data-v-69b1acef 3s 3s forwards;
}
.right_bg .mediaAnim .mediaN.google[data-v-69b1acef] {
  -webkit-animation: fide-in-data-v-69b1acef 3s 6s forwards;
  animation: fide-in-data-v-69b1acef 3s 6s forwards;
}
.right_bg .mediaAnim .mediaN.facebook[data-v-69b1acef] {
  -webkit-animation: fide-in-data-v-69b1acef 3s 4s forwards;
  animation: fide-in-data-v-69b1acef 3s 4s forwards;
}
.right_bg .mediaAnim .mediaN.netflix[data-v-69b1acef] {
  -webkit-animation: fide-in-data-v-69b1acef 3s 7s forwards;
  animation: fide-in-data-v-69b1acef 3s 7s forwards;
}
.right_bg .mediaAnim .mediaN.twitter[data-v-69b1acef] {
  -webkit-animation: fide-in-data-v-69b1acef 3s 5s forwards;
  animation: fide-in-data-v-69b1acef 3s 5s forwards;
}
@-webkit-keyframes fide-out-data-v-69b1acef {
  form {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fide-out-data-v-69b1acef {
  form {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fide-in-data-v-69b1acef {
  form {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fide-in-data-v-69b1acef {
  form {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
li[data-v-e3798610] {
  list-style: none;
}
a[data-v-e3798610] {
  text-decoration: none;
}
#wrapper_pc[data-v-e3798610] {
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding-bottom: 1.20773rem;
  position: relative;
  margin: 0 auto;
  min-width: 1024px;
  overflow: hidden;
}
#wrapper_pc .main[data-v-e3798610] {
  width: 100%;
}
#wrapper_pc .main.webpa[data-v-e3798610] {
  background-image: url(../image/bg_gnew.bf044a3b.webp);
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: 50% 100%;
}
#wrapper_pc .main.webpb[data-v-e3798610] {
  background: url(https://let.nncywl.cn/static/bg_gnew.a664afc9.png) 100% 0 no-repeat;
  background-size: 50% 100%;
}
#wrapper_pc .main .header[data-v-e3798610] {
  padding: 0.40258rem;
}
#wrapper_pc .main .header img[data-v-e3798610] {
  width: 1.81965rem;
  height: 0.56361rem;
}
#wrapper_pc .main .content[data-v-e3798610] {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0 0.40258rem 1.12721rem;
}
#wrapper_pc .main .content .left_cont[data-v-e3798610] {
  width: 50%;
}
#wrapper_pc .main .content .left_cont h3[data-v-e3798610] {
  font-size: 0.80515rem;
  margin-bottom: 0.40258rem;
}
#wrapper_pc .main .content .left_cont .desc_box .cont_desc ul[data-v-e3798610] {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
#wrapper_pc
  .main
  .content
  .left_cont
  .desc_box
  .cont_desc
  ul
  li[data-v-e3798610] {
  padding-top: 0.16103rem;
  padding-bottom: 0.08052rem;
}
#wrapper_pc
  .main
  .content
  .left_cont
  .desc_box
  .cont_desc
  ul
  li
  img[data-v-e3798610] {
  width: 0.64412rem;
  height: 0.64412rem;
}
#wrapper_pc
  .main
  .content
  .left_cont
  .desc_box
  .cont_desc
  ul
  li
  p[data-v-e3798610] {
  margin-left: 0.32206rem;
  font-size: 0.32206rem;
}
#wrapper_pc .main .content .left_cont .download_btn[data-v-e3798610] {
  margin-top: 0.40258rem;
}
#wrapper_pc .main .content .left_cont .download_btn a[data-v-e3798610] {
  width: 5.15298rem;
  display: inline-block;
  border: 0.00805rem solid #ccc;
  text-align: center;
  padding: 0.16103rem 0.16103rem;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  border-radius: 0.16103rem;
}
#wrapper_pc .main .content .left_cont .download_btn a img[data-v-e3798610] {
  width: 0.48309rem;
  margin-right: 0.24155rem;
}
#wrapper_pc .main .content .left_cont .download_btn a i[data-v-e3798610] {
  font-size: 0.45089rem;
  margin-right: 0.16103rem;
  padding-bottom: 0.08052rem;
}
#wrapper_pc .main .content .left_cont .download_btn a i[data-v-e3798610],
#wrapper_pc .main .content .left_cont .download_btn a img[data-v-e3798610],
#wrapper_pc .main .content .left_cont .download_btn a span[data-v-e3798610] {
  display: inline-block;
  vertical-align: middle;
}
#wrapper_pc .main .content .left_cont .download_btn a span[data-v-e3798610] {
  font-size: 0.35427rem;
}
#wrapper_pc .main .content .left_cont .down_icon[data-v-e3798610] {
  text-align: left;
  padding-top: 0.48309rem;
}
#wrapper_pc .main .content .left_cont .down_icon ul[data-v-e3798610] {
  display: inline-block;
}
#wrapper_pc .main .content .left_cont .down_icon ul li[data-v-e3798610] {
  position: relative;
  padding: 0.09662rem 0.0161rem;
  display: inline-block;
  width: 1.0467rem;
  margin-right: 0.04026rem;
  text-align: center;
  vertical-align: middle;
  font-size: 0.24155rem;
}
#wrapper_pc .main .content .left_cont .down_icon ul li a[data-v-e3798610] {
  width: 100%;
  font-size: 0.40258rem;
  display: inline-block;
}
#wrapper_pc .main .content .left_cont .down_icon ul li img[data-v-e3798610] {
  width: 0.32206rem;
}
#wrapper_pc
  .main
  .content
  .left_cont
  .down_icon
  ul
  .iconBox
  p[data-v-e3798610] {
  color: #2a2b32;
  font-size: 0.17713rem;
}
#wrapper_pc
  .main
  .content
  .left_cont
  .down_icon
  ul
  .iconBox[data-v-e3798610]:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0.0161rem solid transparent;
  border-radius: 0.12077rem;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  pointer-events: none;
}
#wrapper_pc
  .main
  .content
  .left_cont
  .down_icon
  ul
  .iconBox[data-v-e3798610]:hover:before {
  border-color: #4d4e56;
}
#wrapper_pc .main .content .right_cont[data-v-e3798610] {
  width: 50%;
}
#wrapper_pc .footer_team[data-v-e3798610] {
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 0.48309rem 1.61031rem;
  font-size: 0.16103rem;
  background: #0a162b;
  color: hsla(0, 0%, 100%, 0.8);
}
.svg_hid[data-v-e3798610] {
  position: absolute;
  width: 0;
  height: 0;
}
