a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  color: #333;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}
::selection {
  background-color: #b3d4fc;
  text-shadow: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
body {
  font-family: Helvetica, Charter, PingFang SC, Microsoft YaHei, Arial,
    sans-serif;
  font-size: 12px;
}
a {
  color: #666;
  text-decoration: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.al {
  text-align: left;
}
.ac {
  text-align: center;
}
.ar {
  text-align: right;
}
.hide {
  display: none;
}
.btn-text {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: transparent;
  border: none;
  color: #222;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  font-weight: inherit;
  padding: 0;
  font-size: 0.33816rem;
  border-radius: 0;
  font-family: Helvetica, Charter, PingFang SC, Microsoft YaHei, Arial,
    sans-serif;
}
.btn-text:active,
.btn-text:focus,
.btn-text:hover {
  border-color: transparent;
  background-color: transparent;
  outline: none;
}
@font-face {
  font-family: Letsvpn-home;
  src: url(../font/ba436acd.eot);
  src: url(../font/ba436acd.eot) format("embedded-opentype"),
    url(../font/1f3a9ee3.ttf) format("truetype"),
    url(../font/b0ec488f.woff) format("woff"),
    url(../font/f72eb732.svg) format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
[class*=" icon-"],
[class^="icon-"] {
  font-family: Letsvpn-home !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-username:before {
  content: "\21";
}
.icon-password:before {
  content: "\22";
}
.icon-eye-2:before {
  content: "\23";
}
.icon-eye:before {
  content: "\24";
}
.icon-setting:before {
  content: "\25";
}
.icon-close:before {
  content: "\26";
}
.icon-user:before {
  content: "\27";
}
.icon-computer:before {
  content: "\28";
}
.icon-add:before {
  content: "\29";
}
.icon-Phone:before {
  content: "\2a";
}
.icon-lock:before {
  content: "\2b";
}
.icon-del:before {
  content: "\2c";
}
.icon-more:before {
  content: "\2d";
}
.icon-exit:before {
  content: "\2e";
}
.icon-device:before {
  content: "\2f";
}
.icon-refund:before {
  content: "\30";
}
.icon-mail:before {
  content: "\31";
}
.icon-buy:before {
  content: "\32";
}
.icon-more-2:before {
  content: "\33";
}
.icon-global:before {
  content: "\34";
}
.icon-burger:before {
  content: "\35";
}
.icon-windows:before {
  content: "\36";
}
.icon-macos:before {
  content: "\37";
}
.icon-android:before {
  content: "\38";
}
.icon-ios:before {
  content: "\39";
}
